{% extends 'AgentFinancier.html.twig' %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <h1>Paiement</h1>

            <table style="border-color:#ffffff"class="table table-hover table-bordered" id="dataTables-example">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ paiement.id }}</td>
                </tr>
                <tr>
                    <th>Reference</th>
                    <td>{{ paiement.reference }}</td>
                </tr>
                <tr>
                    <th>Clientname</th>
                    <td>{{ paiement.clientName }}</td>
                </tr>
                <tr>
                    <th>Paiementtype</th>
                    <td>{{ paiement.paiementType }}</td>
                </tr>
                <tr>
                    <th>Rib</th>
                    <td>{{ paiement.rib }}</td>
                </tr>
                <tr>
                    <th>Numcheque</th>
                    <td>{{ paiement.numCheque }}</td>
                </tr>
                </tbody>
            </table>

            <ul>
                <li>
                    <a href="{{ path('paiement_index') }}" class="btn btn-primary">Back to the list</a>
                </li>
                <li>
                    <a href="{{ path('paiement_edit', { 'id': paiement.id }) }}" class="btn btn-warning">Edit</a>
                </li>
                <li>
                    {{ form_start(delete_form) }}
                    <input type="submit" value="Delete" class="btn btn-danger">
                    {{ form_end(delete_form) }}
                </li>
            </ul>        </div>
    </div>

{% endblock %}
