{% extends 'Backend.html.twig' %}
 {% block title %} welcome Client{% endblock %}
{% block stylesheet %}
 <style>
  .rate {
   float: left;
   height: 46px;
   padding: 0 10px;
  }
  .rate:not(:checked) > input {
   position:absolute;
   top:-9999px;
  }
  .rate:not(:checked) > label {
   float:right;
   width:1em;
   overflow:hidden;
   white-space:nowrap;
   cursor:pointer;
   font-size:30px;
   color:#ccc;
  }
  .rate:not(:checked) > label:before {
   content: '★ ';
  }
  .rate > input:checked ~ label {
   color: #ffc700;
  }
  .rate:not(:checked) > label:hover,
  .rate:not(:checked) > label:hover ~ label {
   color: #deb217;
  }
  .rate > input:checked + label:hover,
  .rate > input:checked + label:hover ~ label,
  .rate > input:checked ~ label:hover,
  .rate > input:checked ~ label:hover ~ label,
  .rate > label:hover ~ input:checked ~ label {
   color: #c59b08;
  }

 </style>

 {% endblock %}
{% block p %}
<div class="col-md-4 social_icons-left">
</div>
<div class="col-md-4 social_icons-left">
</div>
<div class="col-md-offset-2">
    {% block pannier %}
    {% endblock %}
</div>

{% endblock %}


 {% block header %}
  <!--sidebar nav start-->
  <ul class="nav nav-pills nav-stacked custom-nav">

   <li class="menu-list"><a href="#"><i class="lnr lnr-cart"></i> <span>Panier</span></a>
    <ul class="sub-menu-list">
     <li><a href="{{ path('panier_achat')}}">LIST</a> </li>
     <li><a href="{{ path('index_achat')}}">ADD</a></li>
    </ul>
   </li>

   <li class="menu-list"><a href="{{ path('commande_achat')}}"><i class="lnr lnr-inbox"></i> <span>Commandes</span></a>
    <ul class="sub-menu-list">
     <li><a href="{{ path('commande_achat')}}">Consulter</a> </li>

    </ul>
   </li>
   <li class="menu-list"><a href="#"><i class="lnr lnr-neutral"></i> <span>Reclamations</span></a>
    <ul class="sub-menu-list">
     <li><a href="{{ path('ajouter_reclamation') }}">ADD</a></li>
    </ul>
   </li>
  </ul>
 {% endblock %}
{% block body %}

{% endblock %}