{% extends 'AdminPage.html.twig' %}
{% block body %}
    <div class="container" style="margin-top: 20px">
        <h3> You Have {{ c }} Hight Level Reclamation</h3>
        <table class="table table-bordered">
            <thead class="thead-light">
            <tr>
                <th scope="col">id Reclamation</th>
                <th scope="col">User Name</th>
                <th scope="col">Email</th>
                <th scope="col">Contenu</th>
                <th scope="col">Produit</th>
                <th scope="col">Priorité</th>
                <th scope="col">Date</th>
                <th scope="col">Etat</th>
                <th scope="col" style="text-align: center">Action</th>
            </tr>
            </thead>

            {% for art in articles %}

                <tbody>
                <tr>
                    <th scope="row">{{ art.id }}</th>
                    <td>{{ art.username }}</td>
                    <td>{{ art.userMail }}</td>
                    <td>{{ art.contenu }}</td>
                    <td>{{ art.idProduct.productName }}</td>
                    <td>{{ art.priority.niveau }}</td>
                    <td>{{ art.date|date }}</td>
                    <td>{{ art.etat }}</td>
                    <td><a href="{{ path('update_etat_reclamation',{'id':art.id}) }}" class="btn btn-success">Résolue</a> </td>
                </tr>
                </tbody>
            {% endfor %}

        </table>
        <h2>Listes des taches</h2>
        <table class="table table-bordered" style="margin-top: 1.4rem;">
            <thead class="thead-light">

            <tr>
                <th>Description</th>
                <th>Date</th>
            </tr>
            </thead>
            {% for task in tasks %}
            <tr>
                <td>
                    {{ task.description }}
                </td>
                <td>
                    {{ task.date|date }}
                </td>
            </tr>
           {% endfor %}


        </table>
    </div>
{% endblock %}
