{% extends 'AgentGestionnaire.html.twig' %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <center><h1 >Lists of Entrepot !</h1></center>
            <table class="table table-hover table-bordered">
                <tr>
                    <td>

                        <form action="{{ path('list_entrepot') }}" method="post">
                            <table>
                                <tr>
                                    <td>
                                        <div class="col-xs-offset-2 col-xs-8">
                                            <input type="text" name="myInput" id="myInput" style="width: 100%" onkeyup="myFunction()" placeholder="Search here" title="Type in a type" class="form-control">

                                        </div>
                                    </td>
                                    <td>
                                        <button type="submit" class="btn btn-danger"><i class="fa fa-search" style="color: white;"></i>Rechercher</button>

                                    </td>
                                </tr>
                            </table>


                        </form>
                    </td>
                    <td>
                        <a href="{{ path('add_entrepot') }}" class="btn btn-warning">Create a new Entrepot</a>

                    </td>
                </tr>
            </table>

            <br>
            <table class="table table-hover table-bordered" style="width:90%">
                <tr>
                    <th >address</th>
                    <th >nbrRangs</th>
                    <th >Phone</th>
                    <th >Phone_Bis</th>
                    <th >Actions</th>
                </tr>
                {% for entrepot in entrepots %}
                    <tr>
                        <td name="td" >{{ entrepot.address }}</td>
                        <td  >{{ entrepot.nbrRangs }}</td>
                        <td  >{{ entrepot.phone }}</td>
                        <td  >{{ entrepot.phonebis }}</td>
                        <td >
                            <a href="{{ path('edit_entrepot', { 'id': entrepot.id }) }}" class="btn btn-primary">Edit</a>
                            |
                            <a href="{{ path('delete_entrepot', { 'id': entrepot.id }) }}"  class="btn btn-warning">Delete</a>
                            |
                            <a onclick="$('#myModalMap').modal();"  class="btn btn-primary">Show in Maps</a>


                        </td>
                    </tr>
                    <div class="modal fade" id="myModalMap" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="width: 1200;height: 600px">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content" style="width:630px;height: 550px">
                                <div class="modal-header"style="height: 60px">
                                    <h4>Google Maps</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div>
                                <div class="modal-body">
                                    <div id="response"></div>
                                    <div class="form-group">
                                        <iframe src = "https://maps.google.com/maps?q={{ entrepot.latitude }},{{ entrepot.longitude }}&hl=es;z=14&amp;output=embed" style="width: 600px;height: 400px"></iframe>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>

                                </div>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            </table>
            <div class="row ">
                <nav class="text-center">
                    <ul class="pagination mt-0 mb-0">

                        {{ knp_pagination_render(entrepots) }}

                    </ul>
                </nav>
            </div>
            <br>        </div>
    </div>

    <script>
        function myFunction() {
            console.log("trr");
            // Declare variables
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("dataTables-example");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
{% endblock %}





