{% extends 'Client.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row top-margin">
            <div class="col-xs-12 col-sm-6 col-lg-8">
                <div class="card top-margin" style="width: 80%; height:90%; margin-top: 5%;">
                    <div class="product-top">
                        <img class="card-img-top" src="{{ asset('uploads/post/'~product.photo) }}" alt="Card image cap" style="width: 20rem; height: 20rem;">
                        <div class="overlay-achat">
                            <a href="{{ path('add_achat',{'id':product.id}) }}" class="btn btn-secondary top-margin" style="margin-left: 3%;"><i class="fa fa-shopping-cart" style="color: #1d2124;"> Acheter</i></a>

                        </div>


                    </div>


                </div>
            </div>
            <div class="col-sm-6 col-lg-4" style="margin-top: 3%;">
                <table class="table table-hover table-bordered" id="dataTables-example">
                    <tr>
                        <th style="color: white;">Name</th>
                        <td style="color: white;">{{ product.productName }}</td>
                    </tr>
                    <tr>
                        <th style="color: white;">Reference</th>
                        <td style="color: white;">{{ product.reference }}</td>
                    </tr>
                    <tr>
                        <th style="color: white;">Type</th>
                        <td style="color: white;">{{ product.productType }}</td>
                    </tr>
                    <tr>
                        <th style="color: white;">Marque</th>
                        <td style="color: white;">{{ product.marque }}</td>
                    </tr>
                    <tr>
                        <th style="color: white;">Weight</th>
                        <td style="color: white;">{{ product.weight }}</td>
                    </tr>
                </table>

                <form action="{{ path('add_note') }}" method="post">
                    <a  href="{{ path('delete_note',{'id':product.id}) }}" ><i  style="color: #8d1111; cursor: pointer;" class="fa fa-trash fa-2x"></i></a>
                    <div class="rate">
                        {% if valeur ==5 %}
                            <input type="radio" id="star5" name="rate" value="5" checked />
                            <label for="star5" title="text">5 stars</label>
                        {% else %}
                            <input type="radio" id="star5" name="rate" value="5" />
                            <label for="star5" title="text">5 stars</label>
                        {% endif %}
                        {% if valeur ==4 %}
                            <input type="radio" id="star4" name="rate" value="4" checked />
                            <label for="star4" title="text">4 stars</label>
                        {% else %}
                            <input type="radio" id="star4" name="rate" value="4"  />
                            <label for="star4" title="text">4 stars</label>
                        {% endif %}
                        {% if valeur ==3 %}
                            <input type="radio" id="star3" name="rate" value="3" checked />
                            <label for="star3" title="text">3 stars</label>
                        {% else %}
                            <input type="radio" id="star3" name="rate" value="3" />
                            <label for="star3" title="text">3 stars</label>
                        {% endif %}
                        {% if valeur ==2 %}
                            <input type="radio" id="star2" name="rate" value="2" checked />
                            <label for="star2" title="text">2 stars</label>
                        {% else %}
                            <input type="radio" id="star5" name="rate" value="2" />
                            <label for="star2" title="text">5 stars</label>
                        {% endif %}
                        {% if valeur ==1 %}
                            <input type="radio" id="star1" name="rate" value="1" checked />
                            <label for="star1" title="text">1 star</label>
                        {% else %}
                            <input type="radio" id="star5" name="rate" value="1" />
                            <label for="star1" title="text">5 stars</label>
                        {% endif %}






                    </div>
                    <input type="text" name="p" value="{{ product.id }}" style="display: none;" />
                </form>
                <script>
                    $('input[type=radio]').on('change', function() {
                        $(this).closest("form").submit();
                    });
                </script>


            </div>


        </div>




    </div>

{% endblock %}
